@import url(https://fonts.googleapis.com/css?family=Roboto:300);

main{
    overflow: hidden;
}

body{
    background-color: white;
    font-family: "Roboto", sans-serif;

}
ul {
    list-style-type: none;
}
#nav {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: #52809f;
    position: fixed;
    width: 100%;
    top: 0px;
}
#nav-wrapper {
    width: 90%;
    margin: 0px auto;
    text-align: left;
}
#nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
    background: #52a5c3;
}
#nav ul li a, visited {
    display: block;
    padding: 10px;
    color:white;
    text-decoration: none;
}