body{
    background-color: #e0e0dd;
    font-family: Roboto, sans-serif;
}

/*
  Defines look for title
 */
.headline{
    color: #52809f;
    text-align: center;

}

/*
   Defines look for paragraph
 */

.paragraph{
    color: #2b2b2b;
    text-align: center;
}